<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spreadsheet</title>
</head>

<body>
    <h1>Place Holder</h1>
    <h4>
        Please upload your excel here.
    </h4>
    <h5>
        Check your DESKTOP for the result or refresh the page and try again.
    </h5>
    <form action="/recon/form/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="data_file" />
        <input type="submit" value="Run">

    </form>
</body>

</html>